* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #dcfad8;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

.list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 54px;
  color: black;
}

h2 {
  font-size: 3rem;
}

.main {
  height: 90%;
  width: 50%;
  flex-direction: column;
  display: flex;
  gap: 40px;
  background-color: #ffff;
  border-radius: 41px;
  box-shadow: -18px -21px 4px -3px rgba(204, 204, 204, 0.2);
}

.list-name {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.events {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
}

.event-card {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 26px;
  background: #e2ecf9;
  padding: 25px 30px 30px 55px;
}

.event-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-cross::before {
  content: "";
}

.event-card.checked .event-cross::before {
  content: "✕";
  color: #b3a4ff;
}
.event-card.checked {
  background-color: #ececec;
  color: #777;
  text-decoration: line-through;
}
.event-cross {
  width: 25px;
  height: 25px;
  border: 2px solid #b3a4ff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.event-description {
  font-size: 20px;
}

.cross-container {
  bottom: 50px;
  position: relative;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-cross {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1028px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .main {
    height: 100%;
    width: 100%;
  }
}

#task-details {
  font-size: 10px;
}
